<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>User info</h1>
      <div class="text-danger">
      <% if @user.errors.any? %>
        <%= @user.errors.count %> errors prohibited this obj from being saved:
        <%= @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      <% end %>
      </div>

<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label><br />
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: @user.name %><br />
  <label for="inputImage">Image</label><br />
  <%= f.attachment_field :profile_image, placeholder: "ProfileImage" %><br />
  <label for="inputIntroduction">Introduction</label><br />
  <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder: @user.introduction %><br />
  <%= f.submit "Update User", class: "btn btn-secondary text-light mt-2" %>
<% end %>
    </div>
  </div>
</div>