<p id="notice">
 <%=  notice %>
</p>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'users/info', user: @user %>

      <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj from being saved:
        <%= @book.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      <% end %>
      <%= render 'books/newbook', book: @book %>
    </div>

<div class="col-lg-8">
<h1>Book detail</h1>

<table class="table">
  <tr>
    <td>
      <%= link_to @book.user do %>
      <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %><br />
      <%= @book.user.name %>
      <% end %>
    </td>
    <td>
      <%= link_to @book.title, book_path(@book.id) %>
    </td>
    <td>
      <%= @book.opinion %>
    </td>
    <% if @book.user == current_user %>
    <td>
      <%= link_to "Edit", edit_book_path(@book) %>
    </td>
    <td>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
    </td>
    <% end %>
  </tr>
</table>
</div>
  </div>
</div>