<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
    <nav class="navbar navbar-expand-mg navbar-dark bg-dark">
      <a class="navbar-brand text-light" href="/"><span>Bookers</span></a>
      <ul class="ml-auto d-flex list-unstyled align-items-center">
        <% if user_signed_in? %>
        <li class="nav-item p-3">
          <%= link_to current_user do %>
            <i class="fas fa-home text-light" aria-hidden="true">Home</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "/users" do %>
            <i class="fas fa-users text-light" aria-hidden="true">Users</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "/books" do %>
            <i class="fas fa-book-open text-light" aria-hidden="true">Books</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt text-light" aria-hidden="true">logout</i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item p-3">
          <%= link_to "/" do %>
            <i class="fas fa-home text-light" aria-hidden="true">Home</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to about_home_path do %>
            <i class="fas fa-link text-light" aria-hidden="true">About</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus text-light" aria-hidden="true">sign up</i>
          <% end %>
        </li>
        <li class="nav-item p-3">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt text-light" aria-hidden="true">login</i>
          <% end %>
        </li>
      <% end %>
      </ul>
    </nav>
    </header>

    <main class="p-2">
      <% flash.each do |message_type, message| %>
          <% content_tag :div, message, class: message_type %>
      <% end %>
      <%= yield %>
    </main>

    <footer class="d-flex justify-content-center p-1">
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
